body {
	background-color: #E9F0F5;
}




/* Adapting tabs to navbar */
.tabs {
	width: 45% !important;
	background-color: inherit;
	height: inherit;
}

.tabs .tab {
	height: inherit;
	line-height: inherit;
}

.tabs .tab a {
	color: #fff;
}

.tabs .indicator {
    background-color: #80deea;
}




/* Sticky footer (http://materializecss.com/footer.html) */
body {
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}