body {
    background-color: #F0F0F0;
}




/* Adapting tabs to navbar */
.tabs {
    width: 45% !important;
    background-color: inherit;
    height: inherit;
}

.tabs .tab {
    height: inherit;
    line-height: inherit;
}

.tabs .tab a {
    color: #fff;
}

.tabs .indicator {
    background-color: #80deea;
}




/* Customs */
.row .resume-section.col {
    padding: 0 1.5rem;
}

.resume-section-card .card-title {
    color: #006064;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.25;
    border-bottom: 1px solid rgba(160,160,160,0.2);
    padding: 10px 20px 5px 20px;
}

.resume-section-card .btn {
    margin-top: 1rem;
}

.resume-section-card ul {
    margin: 0;
}

.resume-section-header {
    color: #006064;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 3rem;
    border-bottom: 2px solid rgba(0, 96, 100, 0.5);
}

.chip {
    margin-top: 5px;
    background-color: #e0f2f1;
}




/* Timeline */
#cd-timeline {
    margin-top: 0;
}

.cd-timeline-content-header {
    color: #303e49;
    font-size: 1.25rem;
}

.cd-timeline-img.cd-picture {
    background-color: #26a69a;
}

.cd-timeline-img i {
    color: #fff;
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline::before {
    left: 23%;
  }
  .cd-timeline-img {
    left: 23%;
  }
  .cd-timeline-content {
    width: 71%;
    background-color: #e0f2f1;
  }
  .cd-timeline-block/*:nth-child(even)*/ .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block/*:nth-child(even)*/ .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #e0f2f1;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    border-right-color: #e0f2f1;
  }
  .cd-timeline-block/*:nth-child(even)*/ .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block/*:nth-child(even)*/ .cd-timeline-content .cd-date {
    left: auto;
    right: 116%;
    text-align: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    right: 116%;
  }
}




/* Sticky footer (http://materializecss.com/footer.html) */
body {
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}




/* Social font */
@font-face {
    font-family: 'social';
    src:url('../font/social/social.eot?2adcvf');
    src:url('../font/social/social.eot?2adcvf#iefix') format('embedded-opentype'),
        url('../font/social/social.ttf?2adcvf') format('truetype'),
        url('../font/social/social.woff?2adcvf') format('woff'),
        url('../font/social/social.svg?2adcvf#social') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'social';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-git-branch:before {
    content: "\f020";
}
.icon-git-commit:before {
    content: "\f01f";
}
.icon-git-compare:before {
    content: "\f0ac";
}
.icon-git-merge:before {
    content: "\f023";
}
.icon-git-pull-request:before {
    content: "\f009";
}
.icon-globe:before {
    content: "\f0b6";
}
.icon-location:before {
    content: "\f060";
}
.icon-lock:before {
    content: "\f06a";
}
.icon-mark-github:before {
    content: "\f00a";
}
.icon-mortar-board:before {
    content: "\f0d7";
}
.icon-octoface:before {
    content: "\f008";
}
.icon-repo:before {
    content: "\f001";
}
.icon-repo-clone:before {
    content: "\f04c";
}
.icon-repo-force-push:before {
    content: "\f04a";
}
.icon-repo-forked:before {
    content: "\f002";
}
.icon-repo-pull:before {
    content: "\f006";
}
.icon-repo-push:before {
    content: "\f005";
}
.icon-terminal:before {
    content: "\f0c8";
}
.icon-stack:before {
    content: "\e900";
}
.icon-embed:before {
    content: "\e901";
}
.icon-embed2:before {
    content: "\e902";
}
.icon-terminal2:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-twitter2:before {
    content: "\e905";
}
.icon-twitter3:before {
    content: "\e906";
}
.icon-github:before {
    content: "\e907";
}
.icon-github2:before {
    content: "\e908";
}
.icon-github3:before {
    content: "\e909";
}
.icon-github4:before {
    content: "\e90a";
}
.icon-tux:before {
    content: "\e90b";
}
.icon-linkedin:before {
    content: "\e90c";
}
.icon-linkedin2:before {
    content: "\e90d";
}
.icon-stackoverflow:before {
    content: "\e90e";
}
.icon-html5:before {
    content: "\e90f";
}
.icon-git:before {
    content: "\e910";
}
.icon-chrome:before {
    content: "\e911";
}
.icon-firefox:before {
    content: "\e912";
}
.icon-IE:before {
    content: "\e913";
}
.icon-opera:before {
    content: "\e914";
}
.icon-safari:before {
    content: "\e915";
}